#map {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px;
  bottom: 0;
  z-index: 0;
}

body {
  margin: 0
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: bottom;
  min-width: 600px;
  padding: 10px 20px;
}

#navbar {
  min-width: 600px;
  background-color: #E38B4FCC;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  padding: 10px 20px;
  position: fixed;
  bottom: 5%;
}

input {
  border: none;
  min-width: 600px;
}

p {
  margin: 1px;
}