#map {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px;
  bottom: 0;
  z-index: 0;
}

body {
  margin: 0
}

#navbar {
  z-index: 999;
  position: absolute;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  top: 0;
  background-color: #E38B4FCC;
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  border: none;
  width: 105px;
}